<div>
    <style>
    menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        margin: 0;
        position: relative;
        width: 1240px;
        left:10px;
    }
    pizza {
        padding: 5px;
        margin: 0;
        width:  300px;
        height: 510px;
    }
</style>

    <menu>
<!--Ветчина и грибы-->
        <pizza>
            <div>
            <img src="https://github.com/yodo-im/python_pizza/blob/7532b0558804ddc4ff6355eddb258f9f6716be68/pizza/ham_and_mushrooms.jpeg?raw=true"
                 width="300" height="300" alt="" title="">
            <div>
                <h4>
                    Ветчина и грибы
                </h4>
                <h6>
                    Ветчина, шампиньоны,
                    увеличенная порция моцареллы,
                    томатный соус

                </h6>
            </div>
            <div style="position: relative; bottom: -20px;">
                <h7>
                    от 300 ₽
                </h7>

                <a href="" style="position: relative; left: 150px;">
                    Купить
                </a>
            </div>
        </div>
        </pizza>
<!--Карбонара-->
        <pizza>
            <div>
            <img src="https://github.com/yodo-im/python_pizza/blob/7532b0558804ddc4ff6355eddb258f9f6716be68/pizza/carbonara.jpeg?raw=true"
                 width="300" height="300" alt="" title="">
            <div>
                <h4>
                    Карбонара
                </h4>
                <h6>
                    Бекон, сыры чеддер и пармезан,
                    моцарелла, томаты черри, красный лук,
                    чеснок, соус альфредо, итальянские травы
                </h6>
            </div>
            <div>
                <h7>
                    от 300 ₽
                </h7>
                <a href="" style="position: relative; left: 150px;">
                    Купить
                </a>
            </div>
        </div>
        </pizza>
<!--Пеперони-->
        <pizza>
            <div>
            <img src="https://github.com/yodo-im/python_pizza/blob/main/pizza/pepperoni.jpg?raw=true"
                 width="300" height="300" alt="" title="">
            <div>
                <h4>
                    Пеперони
                </h4>
                <h6>
                    Пикантная пепперони, <br> увеличенная порция моцареллы,<br> томатный соус
                </h6>
            </div>
            <div>
                <h7>
                    от 300 ₽
                </h7>

                <a href="" style="position: relative; left: 150px;">
                    Купить
                </a>
            </div>
        </div>
        </pizza>
<!--Ветчина и сыр-->
        <pizza>
            <div>
            <img src="https://github.com/yodo-im/python_pizza/blob/main/pizza/ham_and_cheese.jpg?raw=true"
                 width="300" height="300" alt="" title="">
            <div>
                <h4>
                    Ветчина и сыр
                </h4>
                <h6>
                    Ветчина, моцарелла, соус альфредо
                </h6>
            </div>
            <div style="position: relative; bottom: -38px;">
                <h7>
                    от 300 ₽
                </h7>

                <a href="" style="position: relative; left: 150px;">
                    Купить
                </a>
            </div>
        </div>
        </pizza>
<!--Четыре сыра-->
        <pizza>
            <div>
            <img src="https://github.com/yodo-im/python_pizza/blob/main/pizza/four_cheeses.jpeg?raw=true"
                 width="300" height="300" alt="" title="">
            <div>
                <h4>
                    Четыре сыра
                </h4>
                <h6>
                    Сыр блю чиз, сыры чеддер и пармезан, моцарелла, соус альфредо
                </h6>
            </div>
            <div style="position: relative; bottom: -20px;">
                <h7>
                    от 300 ₽
                </h7>

                <a href="" style="position: relative; left: 150px;">
                    Купить
                </a>
            </div>
        </div>
        </pizza>
    </menu>
</div>